.header {
    width: 100%;
    font-size: 2rem;
    font-weight: 800;
    color: #3b18da;
    margin-bottom: 40px;
    border-bottom-style: solid;
   

  }
  
  .title {
    float: left;
  }
  
  .scores {
    float: right;
  }